.idea
/config.php
/index.php
/php.ini
/robots.txt

/admin
/catalog
/image
/system
/tools
/.php-cs-fixer.cache

!/admin/controller/ajax/ajax_form.php
!/admin/controller/extension/payment/lib/ul_refunds_form.php
!/admin/controller/extension/payment/ul_card.php
!/admin/controller/extension/payment/ul_payment.php
!/admin/controller/extension/payment/ul_pix.php
!/admin/controller/extension/payment/ul_ticket.php
!/admin/controller/sale/ul_order_info.php
!/admin/language/en-gb/extension/payment/ul_card.php
!/admin/language/en-gb/extension/payment/ul_common.php
!/admin/language/en-gb/extension/payment/ul_pix.php
!/admin/language/en-gb/extension/payment/ul_ticket.php
!/admin/model/extension/payment/ul_payment_migrations.php
!/admin/view/image/payment/IMG/credit_card.png
!/admin/view/image/payment/unlimint/amex.png
!/admin/view/image/payment/unlimint/boleto.png
!/admin/view/image/payment/unlimint/card_brand_elo.svg
!/admin/view/image/payment/unlimint/card_brands_sprite.png
!/admin/view/image/payment/unlimint/cash.png
!/admin/view/image/payment/unlimint/diners.png
!/admin/view/image/payment/unlimint/elo.png
!/admin/view/image/payment/unlimint/hipercard.png
!/admin/view/image/payment/unlimint/master.png
!/admin/view/image/payment/unlimint/visa.png
!/admin/view/image/payment/boleto.png
!/admin/view/image/payment/check.png
!/admin/view/image/payment/credit_card.png
!/admin/view/image/payment/error.png
!/admin/view/image/payment/loading.gif
!/admin/view/image/payment/ul_card.png
!/admin/view/image/payment/ul_pix.png
!/admin/view/image/payment/ul_ticket.png
!/admin/view/javascript/ul/card/bankcard_settings_unlimint.js
!/admin/view/javascript/ul/card/ul_refund.js
!/admin/view/javascript/ul/card/ul_settings_card.js
!/admin/view/javascript/ul/pix/ul_settings_pix.js
!/admin/view/javascript/ul/ticket/ul_settings_boleto.js
!/admin/view/javascript/ul/common_settings_ul.js
!/admin/view/javascript/ul/spinner.min.js
!/admin/view/template/extension/payment/ul_buttons.twig
!/admin/view/template/extension/payment/ul_card.twig
!/admin/view/template/extension/payment/ul_card_payment_methods_partial.twig
!/admin/view/template/extension/payment/ul_pix.twig
!/admin/view/template/extension/payment/ul_ticket.twig
!/admin/view/template/extension/payment/ul_ticket_payment_methods_partial.twig
!/admin/view/template/extension/payment/unlimint_refund.twig

!/catalog/language/en-gb/extension/payment/ul_pix.php
!/catalog/language/en-gb/extension/payment/ul_card.php
!/catalog/view/javascript/ul/card/ul_card_view.js
!/catalog/language/en-gb/extension/payment/ul_general.php
!/catalog/controller/extension/payment/ul_alt_gateway.php
!/catalog/view/javascript/ul/pix/ul_pix_checkout.js
!/catalog/model/extension/payment/ul_pix.php
!/catalog/view/javascript/ul/ticket/ul_ticket_checkout.js
!/catalog/view/javascript/ul/card/ul_card_cc.js
!/catalog/controller/extension/payment/ul_card.php
!/catalog/model/extension/payment/ul_card.php
!/catalog/controller/extension/payment/ul_general.php
!/catalog/controller/extension/payment/lib/unlimint_exception.php
!/catalog/controller/extension/payment/ul_pix.php
!/catalog/controller/extension/payment/lib/ul_rest_client.php
!/catalog/view/javascript/ul/cpMask.js
!/catalog/view/javascript/ul/mask.js
!/catalog/controller/extension/payment/lib/unlimint.php
!/catalog/language/en-gb/extension/payment/ul_ticket.php
!/catalog/controller/extension/payment/lib/unlimint_order_info.php
!/catalog/model/extension/payment/ul_ticket.php
!/catalog/controller/extension/payment/ul_ticket.php
!/catalog/controller/extension/payment/lib/ul_refunds.php
!/catalog/controller/extension/payment/lib/ul_checker.php
!/catalog/controller/extension/payment/lib/ul_util.php
!/catalog/view/javascript/ul/ticket/ul_lib_ticket.js
!/catalog/view/javascript/ul/ul_checkout.js
!/catalog/view/javascript/ul/render.js
!/catalog/view/javascript/ul/ul_general_view.js
!/catalog/view/theme/default/stylesheet/ul_checkout.css
!/catalog/view/theme/default/template/extension/payment/ul_card.twig
!/catalog/view/theme/default/template/extension/payment/ul_ticket.twig
!/catalog/view/theme/default/template/extension/payment/ul_pix.twig
